*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-container{
    width: 600px;
    margin: 50px auto;
    box-shadow: 5px 5px 10px rgb(0,0,0, 0.5), 5px 5px 10px #123456;
    padding: 30px;
}

.heading{
    text-align: center;
    margin: 15px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #123456;
}
.input-container {
    width: 400px;
    position: relative;
    margin: 0 auto;
    padding: 10px 10px 0 0 ;
    margin-top: 25px;
}

.input-container .input-style {
    border: solid 1.5px #9e9e9e;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #121111;
    transition: 0.3s all ease;
}

.input-container .input-style:focus~.label,
.input-container .input-style:valid~.label {
    top: -10px;
    font-size: 16px;
    color: #333;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container .input-style:focus~.underline,
.input-container .input-style:valid~.underline {
    transform: scaleX(1);
}

.submit-button{
    text-align: center;
    margin-top: 30px;
}
.submit-button button{
    width: 100px;
    height: 30px;
    color: #123456;
    border: 2px solid #123456 !important;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    transition: color .5s;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 500;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.submit-button button::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: #123456;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.submit-button button:hover{
    color: #fff;
}
.submit-button button:before{
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.submit-button button:hover::before{
    top: -30px;
    left: -30px;
}

.submit-button button:active:before{
    background: #123456ee;
    transition: backgriound .3s;
}
.error{
    color: red;
    margin: 5px 0 !important;
    padding-bottom: 5px;
    padding-left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}