* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  margin-bottom: 20px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text box 1 */
.textbox-1 {
  position: relative;
  width: 250px;
}
.textbox-1 input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  transition: border-color 0.3s;
}
.textbox-1 .label1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  transition: 0.3s;
}
.textbox-1 input:focus + .label1,
.textbox-1 input:valid + .label1 {
  top: -20px;
  left: 0;
  font-size: 12px;
  color: #007bff;
}

/* text box 2 */
.textbox-2 {
  position: relative;
  width: 280px;
}
.textbox-2 input {
  background: #272530;
  width: 100%;
  height: 100%;
  border: 2px solid #382f26;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  padding: 0.8rem;
  color: #fff;
}

.textbox-2 .label2 {
  position: absolute;
  top: 14px;
  left: 10px;
  transition: all 0.2s;
  color: #b3b3b3;
  z-index: 1;
  padding: 0 2px;
}
.textbox-2 .label2::before {
  content: "";
  height: 5px;
  background-color: #272530;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}
.textbox-2 input:focus {
  border: 2px solid #fd7f0a;
  color: #fd7f0a;
}
.textbox-2 input:focus + .label2,
.filled {
  font-size: 14px;
  color: #fd7f0a;
  top: -10px;
}
.textbox-2 input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

/* textbox 3 */

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}
.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077ff;
}
.inp input:focus + .label {
  color: #0077ff;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

/* text box 4 */

:focus {
  outline: none;
}

input[type="text"] {
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.col-3 {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
} 
input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}


.effect-1,.effect-2,.effect-3 {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

/* 4 */
.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border,
.has-content.effect-1 ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
.effect-1 ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.effect-1:focus ~ .label4,
.has-content.effect-1 ~ .label4 {
  top: -16px;
  font-size: 12px;
  color: #4caf50;
  transition: 0.3s;
}

/* 5 */
.effect-2 ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3caf50;
  transform: 0.4s;
}
.effect-2:focus ~ .focus-border, .has-content.effect-2 ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
.effect-2 ~ .label5{
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.effect-2:focus ~ .labe5, .has-content.effect-2 ~ .label5{
  top: -16px;
  font-size: 12px;
  color: #4caf50;
  transition: 0.3s;
}

/* 6 */
.box-6{
  width: 130px !important;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
.box-6:focus{
  width: 100% !important;
  border: 2px solid #ccc;
}

.box-7{
  position: relative;
  width: 300px;
  margin-top: 15px;
}

.box-7 input{
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.box-7 input:focus{
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}
.box-7 ::placeholder{
  color: #aaa;
}
