.container{
    max-width: 400px;
    margin: 50x auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h2{
    text-align: center;
}
label{
    display: block;
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.error{
    color: red;
    margin-top: 5px;
}