* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    margin-bottom: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pos-rel
{
    position: relative;
}

.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}

.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* 2 */
.input-style-2 {
    border: 2px solid #e8e8e8;
    padding: 10px;
    border-radius: 10px;
    background-color: #212121;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.input-style-2:focus {
    outline-color: #fff;
    background-color: #212121;
    color: #e8e8e8;
    box-shadow: 5px 5px #888;
}

/* 3 */
.input-style-3 {
    background-color: #212121;
    max-width: 190px;
    height: 40px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.input-style-3:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: 0.1s;
    transition-property: box-shadow;
}

/* 4 */
.input-style-4 {
    background-color: #eee;
    border: none;
    padding: 10px;
    width: 13rem;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0 0.4rem #dfd9d9;
    cursor: pointer;

}

.input-style-4 {
    outline-color: lightcoral;
}

/* 5 */
.input-style-5 {
    border-radius: 10px;
    outline: 2px solid #FEBF00;
    border: 0;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
}

.input-style-5:focus {
    outline-offset: 5px;
    background-color: #fff;
}

/* 6 */
.input-container {
    width: 200px;
    position: relative;
}

.input-container .input-style-6 {
    border: solid 1.5px #9e9e9e;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    width: 100%;
    background-color: transparent;
    outline: none;
}

.input-container .label-6 {
    position: absolute;
    top: 0;
    left: 0;

    color: #ccc;
    pointer-events: none;
    transition: 0.3s all ease;
}

.input-container .input-style-6:focus~.label-6,
.input-container .input-style-6:valid~.label-6 {
    top: -20px;
    font-size: 16px;
    color: #333;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container .input-style-6:focus~.underline,
.input-container .input-style-6:valid~.underline {
    transform: scaleX(1);
}

/* 7 */
.input {
    /* color: #fff; */
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
    outline: none;
}

.input:focus+.input-border {
    width: 100%;
}

.form-control {
    position: relative;
    --width-of-input: 300px;
}

.input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus+.input-border-alt {
    width: 100%;
}

/* 8 */
.label-8 {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
}

.input-style-8 {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 7px;
    border-radius: 6px;
    /* color: #fff; */
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input-style-8:focus {
    border: 2px solid transparent;
    /* color: #fff; */
    box-shadow:
        3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input-style-8:valid~.label-8,
.input-style-8:focus~.label-8 {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
}

.input-style-8:focus,
.input-style-8:valid {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

/* 9 */
.group{
    position: relative;
}
.input-style-9{
    font-size: 16px;
    padding: 10px;
    /* padding: 10px 10px 10px 5px; */
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}
.input-style-9:focus{
    outline: none;
}
.group .label-9{
    color: #999;
    font-size: 18px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}
.input-style-9:focus ~ .label-9,
.input-style-9:valid ~ .label-9{
    top: -20px;
    font-size: 14px;
    color: #5264AE;
} 
.group .bar{
    position: relative;
    display: block;
    width: 200px;
}
.group .bar::before,
.group .bar::after{
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: all 0.2s ease;
}
.group .bar:before{
    left: 50%;
}
.group .bar:after{
    right: 50%;
}

.input-style-9:focus ~ .bar:before,
.input-style-9:focus ~ .bar:after{
    width: 50%;
}
.highlight{
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    opacity: 0.5;
}
.input-style-9:focus ~ .highlight{
    animation: animate 0.3s ease;
}
@keyframes animate {
  from {
    background: #5264AE;
  }   
  to{
    width: 0;
    background: transparent;
  }
}

/* 10 */
.input-form{
    position: relative;
}
.input-style-10{
    border: 1px solid #9e9e9e;
    border-radius: 1.3rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.label-10{
    position: absolute;
    left: 15px;
    color: #666;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-style-10:focus, .input-style-10:valid{
    outline: none;
    box-shadow: 1px 2px 5px rgba(133, 133, 133, 0.523);
    background-image: linear-gradient(to top, rgba(182, 182, 182, 0.199), rgba(252, 252, 252, 0));
    transition: background 4s ease-in-out;
}
.input-style-10:focus ~ .label-10,
.input-style-10:focus ~ .label-10{
    transform: translateY(-95%) scale(0.9);
    padding: 0 2rem;
    color: #000000be;
    left: 80px;
}
.input-style-10:hover{
    border: 1px solid #000002;
    transform: scale(1.03);
    box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.523);
    transition: border-color 1s ease-in-out;
}

/* 11 */
.input-style-11{
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #ee8456;
    font-size: 1rem;
} 
.span-11{
    position: absolute;
    left: 0;
    padding: 15px 20px;
    font-size: 1rem;
    transition: 0.4s cubic-bezier(0.05,0.81,0,0.93);
    color: #ee8456;
    letter-spacing: 0.1rem;
}
.input-style-11:focus ~ .span-11,
.input-style-11:valid ~ .span-11{
    font-size: 0.7rem;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 5px;
    border-radius: 2px;
    background: #212121;
    letter-spacing: 0;
    border: 1px solid #ee8456;
}

/* 12 */
.input-style-12{
    background: #272530;
    width: 100%;
    height: 100%;
    border: 2px solid #382f26;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    padding: 0.8rem;
    color: #fff;
}
.label-12{
    position: absolute;
    top: 14px;
    left: 10px;
    padding: 0 2px;
    transition: all 0.2s;
    color: #b3b3b3;
    z-index: 1;
}
.label-12::before{
    position: absolute;
    content: "";
    height: 5px;
    background-color: #272527;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.input-style-12:focus{
    border: 2px solid #fd7f0a;
    color: #fd7f0a;
}
.input-style-12:focus + .label-12, .filled{
    font-size: 14px;
    color: #fd7f0a;
    top: -10px;
}
.input-style-12::placeholder{
    opacity: 0;
    font-size: 16px;
    transition: all 0.3s;
}


/* 13 */
.inp{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.inp .label-13{
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0 ;
    transform: translate3d(0,0,0);
    transition: all 0.2s ease;
}
.inp .focus-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}
.inp input{
    appearance: none;
    width: 100%;
    border: none;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}
.inp input:hover{
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:placeholder-shown) + .label-13{
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label-13{
    color: #0077ff;
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp .input:focus + .label-13 + .focus-bg{
    transform: scaleX(1);
    transition: all 0.1s ease;
}

/* 14 */
.input-style-14{
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: 0.2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645,0.045,0.355,1);
}
.input-style-14:focus, .input-style-14:hover{
    outline: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}
.input-style-14::placeholder{
    color: #777;
}
.input-style-14:focus::placeholder{
    opacity: 0;
    transition: opacity .3s;
}

/* 15 */

.input-style-15{
    font-size: 1rem;
    padding: 0.6em 1em;
    border: none;
    border-radius: 6px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    max-width: 200px;
    color: #333;
}
.input-style-15:hover{
    background-color: #f2f2f2;
}
.input-style-15:focus{
    outline: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input-style-15::placeholder{
    color: #999;
}
.input-style-15 .highlight2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #6c63ff;
    transition: width 0.3s ease;
}
.input-style-15:focus + .input-style-15  .highlight2{
    width: 100%;
}

/* 16 */
.input-container-16{
    display: flex;
    background: white;
    border-radius: 1rem;
    background: linear-gradient(135deg, #23272f 0%, #14161a 100%);
    box-shadow: 10px 10px 20px #0e1013, -10px -10px 40px #383e4b;
    padding: 0.3rem;
    gap: 0.3rem;
}
.input-style-16{
    border-radius: 0.8rem 0 0 0.8rem;
    background: #23272f;
    box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255, 212, 59, 0), 0px 0px 100px rgba(255, 102 , 0, 0);
    width: 100%;
    flex-basis: 75%;
    padding: 1rem;
    border: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.input-style-16:focus{
    border: 1px solid #ffd43b;
    outline: none;
    box-shadow: inset 0px 0px 10px rgba(255, 102, 0, 0.5), inset 0px 0px 10px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 102, 0, 0.5);
}
  .input-container-16 button{
    flex-basis: 25%;
    padding: 1rem;
    background: linear-gradient(135deg,rgb(255,212,59,0.5) 0%, rgb(255,102,0) 100%);
    box-shadow: 0px 0px 1px rgba(255, 212, 59, 0.5),0px 0px 1px rgba(255, 102, 0, 0.5);
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #23272f;
    border: none;
    width: 100%;
    border-radius: 0 1rem 1rem 0;
    transition: all 0.2s ease-in-out;
  }
  .input-container-16 button:hover{
    background: linear-gradient(135deg, rgb(255, 212, 59) 50%, rgb(255, 102, 0) 100%);
    box-shadow: 0px 0px 100px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 102, 0, 0.5);
  }

  /* 17 */
  .form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
  }
  .form-control .input-style-17{
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #123456;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
  }

  .form-control .input-style-17:focus,
  .form-control .input-style-17:valid{
    outline: none;
    border-bottom-color: rgb(18, 193, 252);
  }
  .form-control label{
    position: absolute;
    top: 15px;
    left: 0;
    color: #123456;
  }
  .form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    /* color: #fff; */
    transition: 0.3s cubic-bezier(0.68,-0.55,0.265, 1.55);
  }
  .form-control .input-style-17:focus + label span,
  .form-control .input-style-17:valid + label span{
    color: rgb(18, 193, 252);
    transform: translateY(-30px);
  }